.button-link {
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
	padding: 1.5rem 3.8rem;
	border-radius: 100px;
}

.button-link--1 {
	@extend .button-link;
	background-color: var(--color-dark-blue);
	color: var(--color-white);
	transition: background-color 0.2s ease-in-out;

	&:hover {
		background-color: var(--color-dark-purple);
	}

	@media screen and (max-whidth: 768px) {
		padding: 1rem 2.4rem;
	}
}

.button-link--2 {
	@extend .button-link;
	background: var(--primary-gradient);
	color: var(--color-white);
	transition: opacity 0.3s ease-in-out;

	&:hover {
		opacity: 0.6;
	}
}

.button-link--3 {
	@extend .button-link;
	background: var(--secondary-gradient);
	color: var(--color-white);
	transition: background 0.3s ease-in-out;

	&:hover {
		background: var(--secondary-gradient--hover);
	}
}
