@use 'base';
@use 'buttons';

.main-wrapper {
	padding: 0 1.6rem;

	@media screen and (min-width: 48em) {
		padding: 0 4rem;
	}

	@media screen and (min-width: 70em) {
		width: 1110px;
		margin: 0 auto;
		padding: 0;
	}
}

.content {
	display: grid;

	grid-template-columns: 1fr;

	margin-bottom: 14rem;

	@media (min-width: 48em) {
		grid-template-columns: 1fr 1fr;
		margin-top: 6rem;
		column-gap: 4rem;
		row-gap: 8rem;
	}

	@media (min-width: 70em) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.6rem;
	margin-top: 1.6rem;
	position: relative;
	z-index: 10;

	&__button {
		@extend .button-link--1;
		padding: 1rem 2.4rem;
	}

	@media screen and (min-width: 48em) {
		max-width: 1110px;
		padding: 2.4rem 4rem;
	}

	@media screen and (min-width: 70em) {
		max-width: 1110px;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;

		&__button {
			padding: 1.4rem 3.2rem;
		}
	}
}

.hero {
	display: flex;
	flex-direction: column;
	width: 100vw;
	left: 50%;
	position: relative;
	margin-left: -50vw;

	&__content {
		padding: 0 1.6rem;
	}

	&__illustration {
		overflow: hidden;
	}

	&__heading {
		font-size: var(--heading-l);
		line-height: 50px;
		margin-top: 3.8rem;
	}

	&__sub {
		margin-top: 2.6rem;
		letter-spacing: 0.5px;
		max-width: 85%;
	}

	&__button {
		@extend .button-link--2;
		padding: 1.5rem 3.8rem;
		margin-bottom: 4.6rem;
	}

	@media screen and (max-width: 48em) {
		&__illustration {
			picture,
			img {
				width: 100%;
				overflow: hidden;
			}
		}

		&__button {
			padding: 1.8rem 3.2em;
		}
	}

	@media screen and (min-width: 48em) {
		margin-top: -18rem;
		display: grid;
		grid-template-columns: 55% auto;

		align-items: start;

		&__content {
			align-self: center;
			margin-top: 13rem;
			padding: 0 4rem;
		}
	}

	@media screen and (min-width: 70em) {
		margin-top: -25.5rem;
		grid-template-columns: 51% 1fr;

		&__content {
			margin-left: calc(100vw / 2 - 1110px / 2);
			padding: 0;
			margin-top: 22rem;
		}

		&__heading {
			font-size: var(--heading-xl);
			line-height: 70px;
			letter-spacing: 0.8px;
		}

		&__sub {
			max-width: 80%;
			margin-bottom: 4.2rem;
		}
	}
}

.card {
	display: flex;
	padding: 2.8rem;
	padding-top: 6.4rem;
	padding-bottom: 4rem;
	flex-direction: column;
	border-radius: 10px;
	background-color: white;
	position: relative;
	box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);

	&__heading {
		font-size: var(--heading-s-mobile);
	}

	&__icon {
		position: absolute;
		top: -2.5rem;
		left: 2.5rem;
	}

	&__text {
		margin-top: 2.2rem;
		margin-bottom: 2.4rem;
		letter-spacing: 0.8px;
	}

	&__link {
		text-decoration: none;
		color: var(--color-primary);
		margin-top: auto;
		font-weight: 700;
		align-self: flex-start;
		transition: 0.2s ease;

		&:hover {
			color: var(--color-pale-pink);
			cursor: pointer;
		}
	}

	@media screen and (min-width: 48em) {
		&__heading {
			font-size: var(--heading-s);
		}
	}
}

.intro {
	background: var(--primary-gradient);
	padding-top: 2.4rem;
	padding-bottom: 3.2rem;

	&__heading {
		font-size: var(--heading-m-mobile);
		line-height: 38px;
		font-weight: 800;
		color: var(--color-white);
	}

	@media screen and (min-width: 48em) {
		padding-top: 6.4rem;

		&__heading {
			max-width: 80%;
			font-size: var(--heading-m);
		}
	}
}

.footer {
	background-color: var(--color-dark-blue);

	&__container {
		height: 12rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.6rem;
	}

	&__button {
		@extend .button-link--3;
	}

	@media screen and (min-width: 48em) {
		padding: 0;

		&__container {
			max-width: 1110px;
			margin: 0 auto;
			padding: 0;
			// padding: 0 4rem;
		}
	}
}
