:root {
  --color-primary: #f74780;
  --color-pale-pink: #ffa7c3;
  --color-dark-blue: #13183f;
  --color-mid-gray: #83869a;
  --color-dark-purple: #666ca3;
  --color-white: #fff;
  --heading-xl: 5.6rem;
  --heading-l: 4rem;
  --heading-m: 3.2rem;
  --heading-m-mobile: 2.4rem;
  --heading-s: 2.4rem;
  --heading-s-mobile: 2rem;
  --body: 1.8rem;
  --body-mobile: 1.6rem;
  --max-width: 1110px;
  --primary-gradient: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --secondary-gradient: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  --secondary-gradient--hover: linear-gradient(
  		0deg,
  		rgba(255, 255, 255, 0.5),
  		rgba(255, 255, 255, 0.5)
  	),
  	linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  font-size: var(--body-mobile);
  line-height: 26px;
  font-weight: 500;
  color: var(--color-mid-gray);
}
@media screen and (min-width: 48em) {
  body {
    font-size: var(--body);
    line-height: 28px;
    margin: 0 auto;
  }
}

h1,
h2,
h3 {
  color: var(--color-dark-blue);
}

.button-link, .button-link--3, .footer__button, .button-link--2, .hero__button, .button-link--1, .nav__button {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  padding: 1.5rem 3.8rem;
  border-radius: 100px;
}

.button-link--1, .nav__button {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  transition: background-color 0.2s ease-in-out;
}
.button-link--1:hover, .nav__button:hover {
  background-color: var(--color-dark-purple);
}
@media screen and (max-whidth: 768px) {
  .button-link--1, .nav__button {
    padding: 1rem 2.4rem;
  }
}

.button-link--2, .hero__button {
  background: var(--primary-gradient);
  color: var(--color-white);
  transition: opacity 0.3s ease-in-out;
}
.button-link--2:hover, .hero__button:hover {
  opacity: 0.6;
}

.button-link--3, .footer__button {
  background: var(--secondary-gradient);
  color: var(--color-white);
  transition: background 0.3s ease-in-out;
}
.button-link--3:hover, .footer__button:hover {
  background: var(--secondary-gradient--hover);
}

.main-wrapper {
  padding: 0 1.6rem;
}
@media screen and (min-width: 48em) {
  .main-wrapper {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 70em) {
  .main-wrapper {
    width: 1110px;
    margin: 0 auto;
    padding: 0;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 14rem;
}
@media (min-width: 48em) {
  .content {
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    column-gap: 4rem;
    row-gap: 8rem;
  }
}
@media (min-width: 70em) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
  margin-top: 1.6rem;
  position: relative;
  z-index: 10;
}
.nav__button {
  padding: 1rem 2.4rem;
}
@media screen and (min-width: 48em) {
  .nav {
    max-width: 1110px;
    padding: 2.4rem 4rem;
  }
}
@media screen and (min-width: 70em) {
  .nav {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  .nav__button {
    padding: 1.4rem 3.2rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  left: 50%;
  position: relative;
  margin-left: -50vw;
}
.hero__content {
  padding: 0 1.6rem;
}
.hero__illustration {
  overflow: hidden;
}
.hero__heading {
  font-size: var(--heading-l);
  line-height: 50px;
  margin-top: 3.8rem;
}
.hero__sub {
  margin-top: 2.6rem;
  letter-spacing: 0.5px;
  max-width: 85%;
}
.hero__button {
  padding: 1.5rem 3.8rem;
  margin-bottom: 4.6rem;
}
@media screen and (max-width: 48em) {
  .hero__illustration picture,
.hero__illustration img {
    width: 100%;
    overflow: hidden;
  }
  .hero__button {
    padding: 1.8rem 3.2em;
  }
}
@media screen and (min-width: 48em) {
  .hero {
    margin-top: -18rem;
    display: grid;
    grid-template-columns: 55% auto;
    align-items: start;
  }
  .hero__content {
    align-self: center;
    margin-top: 13rem;
    padding: 0 4rem;
  }
}
@media screen and (min-width: 70em) {
  .hero {
    margin-top: -25.5rem;
    grid-template-columns: 51% 1fr;
  }
  .hero__content {
    margin-left: calc(50vw - 555px);
    padding: 0;
    margin-top: 22rem;
  }
  .hero__heading {
    font-size: var(--heading-xl);
    line-height: 70px;
    letter-spacing: 0.8px;
  }
  .hero__sub {
    max-width: 80%;
    margin-bottom: 4.2rem;
  }
}

.card {
  display: flex;
  padding: 2.8rem;
  padding-top: 6.4rem;
  padding-bottom: 4rem;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  position: relative;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}
.card__heading {
  font-size: var(--heading-s-mobile);
}
.card__icon {
  position: absolute;
  top: -2.5rem;
  left: 2.5rem;
}
.card__text {
  margin-top: 2.2rem;
  margin-bottom: 2.4rem;
  letter-spacing: 0.8px;
}
.card__link {
  text-decoration: none;
  color: var(--color-primary);
  margin-top: auto;
  font-weight: 700;
  align-self: flex-start;
  transition: 0.2s ease;
}
.card__link:hover {
  color: var(--color-pale-pink);
  cursor: pointer;
}
@media screen and (min-width: 48em) {
  .card__heading {
    font-size: var(--heading-s);
  }
}

.intro {
  background: var(--primary-gradient);
  padding-top: 2.4rem;
  padding-bottom: 3.2rem;
}
.intro__heading {
  font-size: var(--heading-m-mobile);
  line-height: 38px;
  font-weight: 800;
  color: var(--color-white);
}
@media screen and (min-width: 48em) {
  .intro {
    padding-top: 6.4rem;
  }
  .intro__heading {
    max-width: 80%;
    font-size: var(--heading-m);
  }
}

.footer {
  background-color: var(--color-dark-blue);
}
.footer__container {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
}
@media screen and (min-width: 48em) {
  .footer {
    padding: 0;
  }
  .footer__container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
  }
}
